<html>

<h1><a href = "/home/"> Schoolgods </a></h1>

<h2><a href = "/home/{{ department.id }}/">{{ department.subject }}</a></h2>
<h3><a href = "/home/{{ department.id }}/{{ course.id }}/">{{ course.department }} {{ course.number }} {{ course.name }}</a></h3>


{% if professors %}
    <ul>
    {% for professor in professors %}
        <li><a href="/home/{{ department.id }}/{{ course.id }}/{{ professor.id }}/">{{ professor.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No classes are available.</p>
{% endif %}

</body>

</html>